@model RenderingModel

<title>My Application - SC10</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
@*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@

<style>
    .button {
        background-color: darkcyan;
        border-radius: 5px;
        color: white;
        padding: .5em;
        text-decoration: none;
    }

        .button:focus,
        .button:hover {
            background-color: FireBrick;
            color: White;
        }

    .border {
        border-color: #0d6efd !important;
        border: 1px solid !important;
    }
</style>

<div class="container border border-primary">
    <h1>Basic Layout loaded here</h1>
    <br />
    @Html.Sitecore().Placeholder("main")
</div>
